main{
    height: 100vh;
}
.wrapper{
    height: calc(100% - 2rem);
    width: 80%;
}
/* contact */
.my-alert{
    background-color: #8edafc;
}
.my-alert .icon-wrapper{
    background-color: #f2fbff;
}
.my-alert .icon-wrapper .icon{
    color: #8edafc;
}

.contact-bg-active{
    background-color: #e9ebeb;
}

/* chat */
.chat{
    height: calc(100% - 107.5px);
}

.message-sent,
.message-received{
    max-width: 45%;
}
.message-sent{
    background-color: #d5f9ba;
}
.message-received{
    background-color: #fff;
}
.message-input-container{
    background-color: #f3eeea;
    color:#6b7376;
}

/* bacgrounds */
.top-bg{
    background-color: #009688;
    height: 120px;
}
.bottom-bg{
    background-color: #d8dbd4;
}
.header-bg{
    background-color: #eaeaea;
}
.chat-bg{
    background:url('../img/mine.jpg');
}

/* text colors */
.my-text-secondary{
    color: #979797;
}

/* fonts */
.fs-small{
    font-size: small;
}

/* profile icons */
figure.img-wrapper,
div.icon-wrapper{
    width:  40px;
    height: 40px;
}
figure.img-wrapper img{
    object-fit: cover;
}