main{
    height: 100vh;
    background: linear-gradient(to bottom,
    #009688 0px,
    #009688 15vh,
    #d8dbd4 15vh,
    #d8dbd4 100%);
}
.wrapper{
    height: calc(100% - 2rem);
    width: 80%;
}
/* contact */
.my-alert{
    background-color: #8edafc;
}
.my-alert .icon-wrapper{
    background-color: #f2fbff;
}
.my-alert .icon-wrapper .icon{
    color: #8edafc;
}

.contact{
    cursor: pointer;
}

.contact-bg-active{
    background-color: #e9ebeb;
}

/* chat */
.chat{
    height: calc(100% - 109px);
}

.message{
    max-width: 45%;
}
/* message sent */
.message-sent{
    background-color: #d5f9ba;
}
.message-sent:hover .chevron{
    background: radial-gradient(#d5f9ba 30%, #0000 );
}
/* message received */
.message-received{
    background-color: #fff;
}
.message-received:hover .chevron{
    background: radial-gradient(#fff 30%, #0000 );
}
/* chevron */
.chevron{
    cursor: pointer;
}
.message:hover .chevron::after{
    content: '\f078';
}

.message-input-container{
    background-color: #f3eeea;
    color:#6b7376;
}

/* bacgrounds */
.header-bg{
    background-color: #eaeaea;
}
.chat-bg{
    background:url('../img/mine.jpg');
}

/* text colors */
.my-text-secondary{
    color: #979797;
}

/* fonts */
.fs-small{
    font-size: small;
}
.fs-x-small{
    font-size: x-small;
}

/* profile icons */
figure.img-wrapper,
div.icon-wrapper{
    width:  45px;
    height: 45px;
}
figure.img-wrapper img{
    object-fit: cover;
}